@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

div:empty:before {
  content:attr(data-placeholder);
  color: #C9C9C9
}

.title{
  /* font-weight: 600; */
  line-height: 24px;
}